<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agregar Profesor</title>
</head>
<body>
    <h1>Agregar Profesor</h1>
    <form action="/profesor/insertar" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre with cutoff of 4096 characters