<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Profesores</title>
</head>
<body>
    <h1>Listado de Profesores</h1>
    <ul>
    <% profesores.forEach(profesor => { %>
        <li><%= profesor.nombre %> - <%= profesor.telefono %> - <%= profesor.email %></li>
    <% }); %>
    </ul>
</body>
</html>