<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Editar Curso</title>
</head>
<body>
    <h1>Editar Curso</h1>
    <form action="/cursos/actualizar" method="post">
    <input type="hidden" name="id" value="<%= curso.Id %>">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="<%= curso.Nombre %>" required><br>
    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" value="<%= curso.Precio %>" required><br>
    <input type="submit" value="Actualizar">
    </form>
</body>
</html>