<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cursos</title>
</head>
<body>
    <h1>Listado de Cursos</h1>
    <ul>
    <% cursos.forEach(curso => { %>
        <li><%= curso.Nombre %> - <%= curso.Categoria %> - <%= curso.Precio %></li>
    <% }); %>
    </ul>
</body>
</html>